.write-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 245px;
  max-width: 1184px;
  width: 95%;
  background: #fff;
  margin: auto;

  h3 {
    text-align: center;
    margin: 56px auto 48px;
    font: var(--font-h3);
    font-weight: 500;
    color: var(--geekblue-light-9);
  }

  p {
    text-align: center;
    margin: 0 auto 56px;
    font: var(--font-14);
    font-weight: 400;
    color: var(--secondary-text-light-45);
  }

  p span {
    display: block;
  }
}

@media screen and (max-width: 460px) {
  .write-review {
    height: 314px;
    width: 90%;
  }
}

@media screen and (max-width: 360px) {
  .write-review {
    height: 314px;
    width: 328px;

    h3 {
      margin: 48px auto;
    }

    p {
      margin: 0 auto 48px;
    }

    p span:nth-child(1) {
      max-width: 80%;
      margin: 0 auto;
    }

    p span:nth-child(2) {
      max-width: 73%;
      margin: 0 auto;
    }

    p span:nth-child(3) {
      max-width: 73%;
      margin: 0 auto;
    }
  }
}
