.result-page {
  width: 100%;
  height: 100vh;

  background: url("../../shared/assets/images/blure.png") no-repeat center center;
  background-size: cover;

  &__blur {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
