.layout {
  //position: relative;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  //width: 100%;
  //margin: 0 auto;
  //box-sizing: border-box;
  min-height: calc(100vh - var(--navbar-height));
  background: url("../../../shared/assets/images/Main_page_light.png") no-repeat center center;
  background-size: cover;
  overflow-x: hidden;
}
