.navbar {
    display: flex;
    flex-direction: row;

    .site-page-header {
        background: var(--geekblue-light-1);
        width: 100%;
    }

    .ant-page-header.has-breadcrumb {
        padding-top: 16px;
    }

    .ant-page-header-heading-title {
        font: var(--font-h1);
        font-weight: 700;
        overflow: hidden;
        white-space: pre-wrap;
        text-overflow: ellipsis;
        margin: 0;
        color: var(--title-light);
        transition: font-size 0.2s ease-in-out;
    }

    .ant-page-header-heading-extra > * {
        width: 129px;
        height: 32px;
    }

    .ant-page-header-heading-extra {
        margin: 0;
    }

    .ant-page-header-compact .ant-page-header-heading {
        flex-wrap: nowrap;
    }
    .ant-space {
        justify-content: flex-end;
        margin-right: -18px;
    }
    &__setting {
        position: relative;
        display: flex;
        right: 0;

        &-circle {
            margin-right: 10px;
        }



        .ant-btn {
            position: relative;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding: 4px 0 4px 15px;
        }


        .ant-btn .anticon {
            position: absolute;
            right: 0;
        }

        &-button {
            display: flex;
            align-items: center;

        }

        &-text {
            font: var(--font-14);
            font-weight: 400;
            padding: 0;
        }
    }
}

@media screen and (max-width: 950px) and (min-width: 835px) {
    .navbar {
        .ant-page-header-heading-title {
            font: var(--font-h2);
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 834px) and (min-width: 361px) {
    .navbar {
        .ant-page-header-heading-title {
            font: var(--font-h3);
            font-weight: 500;
        }

        .anticon svg {
            display: none;
        }

    }
}

@media screen and (max-width: 360px) {
    .navbar {
        .ant-page-header-heading-extra {
            margin: 0 24px 0 0;
        }

        &__setting {
            &-circle {
                display: flex;
                align-content: center;
                justify-content: center;
                background: #ffffff;
                border: 1px solid var(--gray-5);
                border-radius: 50%;
                height: 32px;
                width: 32px;
            }

            &-text {
                visibility: hidden;
            }
        }

        .ant-btn > .anticon + span {
            visibility: hidden;
        }

        .ant-page-header-heading-extra > * {
            width: 16px;
            height: auto;

        }

        .ant-btn > span {
            display: flex;
        }

        .navbar__setting .ant-btn .anticon {

            height: 16px;
            width: 16px;
            left: 0;
        }

        .ant-page-header-heading-title {
            font: var(--font-h4);
            font-weight: 500;
            max-width: 360px;
        }
    }
}
