.modal-error-data {
  &__buttons {
    display: flex;
    margin-top: 24px;
    margin-bottom: 32px;

    .ant-btn {
      width: 180px;

      font: var(--font-14);
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      margin: 22px auto 0;
    }

    h3 {
      margin: 20px auto 0;

      font: var(--font-h3);
      font-weight: 500;
    }

    p {
      margin: 0 auto;

      font: var(--font-14);
      color: var(--secondary-text-light-45);
    }
  }
}

@media screen and (max-width: 360px) {
  .modal-error-data {
    &__buttons {
      display: flex;
      margin-top: 24px;
      margin-bottom: 32px;

      .ant-btn {
        width: 144px;
      }
    }
  }
}
