.review-item {
  display: flex;
  margin: 12px 20px;
  background: #fff;
  color: var(--secondary-text-light-45);
  padding: 16px;

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 174px;
    width: 100%;

    .name {
      white-space: pre-wrap;
      font: var(--font-16);
      color: var(--title-light-85);
      font-weight: 500;
    }

    img {
      width: 42px;
      height: 42px;
      margin-bottom: 12px;
      border-radius: 50%;
    }
  }

  .text-box {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    .rating {
      display: flex;
      align-items: center;
      gap: 16px;
      font: var(--font-12);
      color: var(--gray-6);
      margin-bottom: 12px;
    }

    .text-box {
      display: flex;
    }

    .message {
      font: var(--font-14);
      word-break: break-all;
    }
  }
}

@media screen and (max-width: 360px) {
  .review-item {
    display: flex;
    flex-direction: column;
    margin: 12px 20px;
    background: #fff;
    color: var(--secondary-text-light-45);
    padding: 16px;

    .avatar {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 174px;
      width: 100%;
      gap: 16px
    }
  }
}
